.hero {
    background-image: url(../assets/hero.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lottieAnim {
    width: 75vw;
    margin-top: 3rem;
}

.dateHero img {
    width: 18vw;
    rotate: 5deg;
    margin-top: -2vw;
}

.leftVertical {
    position: absolute;
    top: 50%;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    rotate: -90deg;
    left: 0;
    transform: translateY(-5.3rem);
}

.leftVertical img {
    width: 1rem;
    margin-left: 1.5rem;
    filter: invert();
    transition: .3s;
    rotate: 90deg;
}

.leftVertical img:hover {
    scale: 1.5;
}

.rightVertical {
    position: absolute;
    top: 50%;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    rotate: -90deg;
    right: 0;
    transform: translateY(4.5rem);
}

@media (max-width: 850px) {
    .leftVertical {
        margin-left: -1.5rem;
        margin-top: 15vh;
    }

    .rightVertical {
        margin-right: -2.5rem;
        margin-top: -15vh;
    }

    .lottieAnim {
        width: 160vw;
        max-width: 800px;
        margin-top: -2rem;
    }

    .dateHero img {
        width: 50vw;
        max-width: 300px;
    }
}

.aboutSection {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    justify-content: center;
    margin: 7rem auto;
    margin-top: 10rem;
    gap: 3vw;
}

.aboutText {
    max-width: 40rem;
}

.aboutText>div:nth-of-type(1)>div:nth-of-type(1) {
    font-weight: bold;
    rotate: -90deg;
    font-size: 4rem;
    transform: translateX(-0.5rem);
}

.aboutText>div:nth-of-type(1) {
    display: flex;
    margin-bottom: 1rem;
}

.aboutText>div:nth-of-type(2) {
    opacity: 0.75;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.aboutText>div:nth-of-type(1)>div:nth-of-type(2) {
    transform: translateX(-3rem);
}

.aboutText>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(1) {
    font-weight: bold;
    font-size: 6rem;
}

.aboutText>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(2) {
    font-weight: bold;
    font-size: 2.2rem;
    margin-top: -0.5rem;
    color: #ED2E44;
}

@media (max-width: 1310px) {
    .aboutSection {
        flex-direction: column;
        align-items: center;
    }

    .aboutSection img {
        max-width: 600px;
        width: 95vw;
    }

    .aboutText {
        max-width: 90vw
    }

    .aboutText>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(1) {
        font-size: 4.5rem;
    }

    .aboutText>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(2) {
        font-size: 1.8rem;
        white-space: nowrap;
    }

    .aboutText>div:nth-of-type(1)>div:nth-of-type(1) {
        font-size: 3rem;
    }
}

.countSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding: 0 3rem;
    margin: 0 auto;
}

.countWrap {
    text-align: center;
}

.countWrap>div:nth-of-type(1) {
    font-weight: bold;
    font-size: 6rem;
}

.countWrap>div:nth-of-type(2) {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -1rem;
    line-height: 1.5rem;
}

@media (max-width: 615px) {
    .countSection {
        flex-direction: column;
        gap: 2rem;
        padding-top: 2rem;
    }

    .countWrap {
        display: flex;
        align-items: center;
        text-align: start;
        width: 15.5rem;
    }

    .countWrap>div:nth-of-type(1) {
        width: 7rem;
        display: block;
        text-align: right;
        margin-right: 0.5rem;
        margin-top: -0.7rem;
    }
}