.hero {
    background-image: url(../assets/hero.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lottieAnim {
    width: 75vw;
    margin-top: 3rem;
}

.dateHero img {
    width: 18vw;
    rotate: 5deg;
    margin-top: -2vw;
}

.leftVertical {
    position: absolute;
    top: 50%;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    rotate: -90deg;
    left: 0;
    transform: translateY(-5.3rem);
}

.leftVertical img {
    width: 1rem;
    margin-left: 1.5rem;
    filter: invert();
    transition: .3s ease-in-out;
    rotate: 90deg;
}

.leftVertical img:hover {
    scale: 1.5;
}

.rightVertical {
    position: absolute;
    top: 50%;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    rotate: -90deg;
    right: 0;
    transform: translateY(4.5rem);
}

@media (max-width: 850px) {
    .leftVertical {
        margin-left: -1.5rem;
        margin-top: 15vh;
    }

    .rightVertical {
        margin-right: -2.5rem;
        margin-top: -15vh;
    }

    .lottieAnim {
        width: 160vw;
        max-width: 800px;
        margin-top: -2rem;
    }

    .dateHero img {
        width: 50vw;
        max-width: 300px;
    }
}

.aboutSection {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    justify-content: center;
    margin: 7rem auto;
    margin-top: 10rem;
    gap: 3vw;
}

.aboutText {
    max-width: 40rem;
}

.aboutText>div:nth-of-type(1)>div:nth-of-type(1) {
    font-weight: bold;
    rotate: -90deg;
    font-size: 4rem;
    transform: translateX(-0.5rem);
}

.aboutText>div:nth-of-type(1) {
    display: flex;
    margin-bottom: 1rem;
}

.aboutText>div:nth-of-type(2) {
    opacity: 0.75;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.aboutText>div:nth-of-type(1)>div:nth-of-type(2) {
    transform: translateX(-3rem);
}

.aboutText>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(1) {
    font-weight: bold;
    font-size: 6rem;
}

.aboutText>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(2) {
    font-weight: bold;
    font-size: 2.2rem;
    margin-top: -0.5rem;
    color: #ED2E44;
}

@media (max-width: 1310px) {
    .aboutSection {
        flex-direction: column;
        align-items: center;
    }

    .aboutSection img {
        max-width: 600px;
        width: 95vw;
    }

    .aboutText {
        max-width: 90vw
    }

    .aboutText>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(1) {
        font-size: 4.5rem;
    }

    .aboutText>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(2) {
        font-size: 1.8rem;
        white-space: nowrap;
    }

    .aboutText>div:nth-of-type(1)>div:nth-of-type(1) {
        font-size: 3rem;
    }
}

.countSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    padding: 0 3rem;
    margin: 0 auto;
}

.countWrap {
    text-align: center;
    width: 110px;
}

.countWrap>div:nth-of-type(1) {
    font-weight: bold;
    font-size: 6rem;
}

.countWrap>div:nth-of-type(2) {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -1rem;
    line-height: 1.5rem;
}

@media (max-width: 615px) {
    .countSection {
        flex-direction: column;
        gap: 2rem;
        padding-top: 2rem;
    }

    .countWrap {
        display: flex;
        align-items: center;
        text-align: start;
        width: 15.5rem;
    }

    .countWrap>div:nth-of-type(1) {
        width: 7rem;
        display: block;
        text-align: right;
        margin-right: 0.5rem;
        margin-top: -0.7rem;
    }
}

.videosection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 9rem;
}

.ytvideo {
    position: relative;
    width: 1000px;
    height: 600px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 1rem 1rem 0 0;
}

.ytvideo>div:nth-of-type(2) {
    position: absolute;
    background: #f3223ac2;
    padding: 1.5rem;
    border-radius: 50%;
    top: calc(50% - 3.5rem);
    left: calc(50% - 3.5rem);
    transition: all .5s;
}

.ytvideo>div:nth-of-type(2) img {
    width: 4rem;
    height: 4rem;
    filter: invert();
    margin: 0.4rem 0.2rem 0rem 0.2rem;
}

.ytvideo>div:nth-of-type(1)::after {
    background: linear-gradient(180deg, rgba(34, 22, 46, 0) 0%, rgba(34, 22, 46, 1) 100%);
    content: " ";
    width: 1000px;
    height: 600px;
    display: block;
}

.ytvideo>div:nth-of-type(1) {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .5s;
    background-image: url(../assets/videoThumb.jpg);
}

.ytvideo:hover>div:nth-of-type(1) {
    transform: scale(1.1);
}

.ytvideo:hover>div:nth-of-type(2) {
    padding: 3rem;
    top: calc(50% - 5rem);
    left: calc(50% - 5rem);
    background: #f3223a;
}

.sliderCard {
    width: 500px;
    height: 350px;
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
}

.sliderCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.sliderCardOverlay {
    background: linear-gradient(180deg, rgba(34, 22, 46, 0) 0%, rgba(34, 22, 46, 1) 100%);
    content: " ";
    top: 0;
    width: 500px;
    height: 350px;
    display: block;
    position: absolute;
}

.sliderCardText {
    bottom: 0;
    position: absolute;
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2rem;
}

.sliderCardText>div:first-of-type {
    font-size: 1.1rem;
    margin-right: 1.5rem;
    font-weight: normal;
    color: #f3223a;
    margin-bottom: -0.3rem;
    line-height: 1.2rem;
}

.sliderTextLine {
    display: inline-block;
    width: 0;
    height: 0.3rem;
    border-radius: 0.1rem;
    margin-right: 0;
    transform: translateY(-0.4rem);
    background: #f3223a;
    transition: .5s;
}

.sliderCard:hover .sliderTextLine {
    width: 1.8rem;
    margin-right: 0.5rem;
}

.sliderCard:hover img {
    scale: 1.1;
}

.swiperWrap {
    width: 1000px;
}

.videosecTitle {
    width: 1000px;
    margin-bottom: 3rem;
    display: flex;
    justify-content: flex-end;
}

.videosecTitle>div:nth-of-type(1) {
    font-weight: bold;
    font-size: 5rem;
    text-align: end;
    line-height: 5rem;
    transform: translateX(5rem);
}

.videosecTitle>div:nth-of-type(2) {
    rotate: -90deg;
    font-size: 2rem;
    font-weight: bold;
    transform: translateY(7rem);
    color: #f3223a;
}

@media (max-width: 1050px) {

    .swiperWrap,
    .sliderCardOverlay,
    .sliderCard,
    .ytvideo>div:nth-of-type(1)::after,
    .ytvideo {
        max-width: 600px;
        width: 100vw;
    }

    .videosecTitle {
        max-width: 600px;
        width: 100vw;
        white-space: nowrap;
        margin-bottom: 1.5rem;
    }

    .videosecTitle>div:nth-of-type(1) {
        font-size: 2rem;
        line-height: 2.5rem;
        transform: translateX(1.4rem);
    }

    .videosecTitle>div:nth-of-type(2) {
        font-size: 1rem;
        transform: translateY(2.3rem);
    }

    .videosection {
        margin-top: 7rem;
    }

    .ytvideo {
        border-radius: 0;
    }
}

.sponsorsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 9rem;
    gap: 2rem;
}

.sponsorsSection img {
    width: 25rem;
    margin-bottom: 1rem;
}

.sponsorCardWrap {
    filter: drop-shadow(0 3px 7px rgba(14, 8, 18, .44));
    height: 220px;
    width: 320px;
}

.sponsorsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}

.sponsorCard {
    margin: auto auto;
    width: 300px;
    height: 200px;
    position: relative;
    transition: .3s ease-in-out;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));
}

.sponsorCardOverlay {
    width: 300px;
    height: 100px;
    display: block;
    bottom: 0;
    position: absolute;
    background: linear-gradient(180deg, rgba(34, 22, 46, 0) 0%, rgba(34, 22, 46, 0.8) 100%);
    transition: .3s ease-in-out;
}

.sponsorCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sponsorCardWrap:hover .sponsorCard {
    transform: translateY(-10px);
}

@media (max-width: 985px) {
    .sponsorsSection img {
        width: 85vw;
        max-width: 25rem;
    }

    .sponsorCardWrap {
        height: 20vw;
        width: 30vw;
    }

    .sponsorCard {
        width: 90%;
        height: 90%;
        clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 10px 100%, 0 calc(100% - 10px));
    }

    .sponsorCard img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 615px) {
    .sponsorCardWrap {
        height: 30vw;
        width: 45vw;
    }

    .sponsorCard {
        width: 90%;
        height: 90%;
    }

    .sponsorCard img {
        width: 100%;
        height: 100%;
    }
}

.contactsSection {
    margin-top: 9rem;
    background: #150f1a;
    height: 18rem;
    display: block;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.contactsSection img {
    width: 286px;
    scale: 0.7;
}

.contactsSection>div {
    display: flex;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    gap: max(4vw, 4rem);
}

.contactsSection a {
    color: inherit;
    text-decoration: inherit;
}

.socialContact {
    margin-top: 0.7rem;
}

.socialContact::after {
    content: " ";
    display: block;
    height: 0.25rem;
    transform: scaleX(0);
    margin-top: 0.3rem;
    background: #f3223a;
    transition: .3s ease-in-out;
}

.socialContact:hover::after {
    transform: scaleX(1);
}

@media (max-width: 1400px) {
    .contactsSection {
        flex-direction: column;
        height: unset;
        padding-top: 2rem;
        padding-bottom: 4rem;
        gap: 2rem;
    }
}

@media (max-width: 725px) {
    .socialContact {
        margin-top: 0;
    }

    .contactsSection {
        gap: 1rem;
    }

    .contactsSection>div {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        margin-bottom: 1.7rem;
    }

    .contactsSection img {
        transform: translateX(-0.6rem);
    }
}

.footerSection {
    height: 7rem;
    background-color: #100d12;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    align-items: center;
    position: relative;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
}

.footerSection::before {
    content: '';
    display: block;
    background-color: #150f1a;
    width: 100%;
    height: 23px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

@media (max-width: 725px) {
    .footerSection {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
        text-align: center;
    }
}