.qrreader {
    margin: 0 auto;
    margin-top: -2rem;
    max-width: 40vw;
}

.verify {
    text-align: center;
}

.ticket {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -7rem;
}

.status {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
}

.scannew {
    margin-top: 3rem;
}