.qrBox {
    width: 500px;
    height: 450px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}

.qrreader {
    margin: 0
}

.verify {
    text-align: center;
}

.ticket {
    font-size: 2rem;
    font-weight: bold;
}

.status {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
}

.scannew {
    margin-top: 3rem;
}